@import url("https://fonts.googleapis.com/css2?family=Jura&family=Kadwa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
}

:root {
  --grey: #eeeeeb;
  --black: #2a2d34;
  --blue-light: #96c9dc;
  --green: #c5e0d8;
  --blue: #239fc0;
  --title-font: "Kadwa", serif;
  --main-font: "Jura", sans-serif;
}

/* #region -------- NavBar */
header {
  background-color: var(--grey);
  color: var(--black);
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

h1 {
  color: var(--blue);
  font-family: var(--title-font);
  font-weight: 500;
  margin: 0.5rem 1rem;
}

header > h3 {
  display: none;
}

.logo {
  margin: 1vw 2vw;
  width: 100px;
  display: none;
}

.menuNav {
  display: none;
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease, height 0.5s;
}
.menuNav.show {
  display: flex;
  opacity: 1;
  height: 188px;
  background-color: rgba(var(--grey), 0.9);
  flex-direction: column;
}

.menuNav > a {
  width: 90vw;
  color: var(--black);
  padding: 14px 16px;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1rem;
  display: block;

  border-bottom: 1px solid var(--blue-light);
}

.menuNav > a:first-child {
  border-top: 1px solid var(--blue-light);
}

.menuNav > a:last-child {
  border-bottom: none;
}

.list {
  fill: var(--blue);
  width: 2rem;
  margin: 0.5rem;
  display: block;
  position: absolute;
  right: 5px;
  top: 0.8rem;
}
/* #endregion */
/* #region -------- Main */
main {
  position: relative;
  z-index: 1;
}

.main-container {
  height: calc(100svh - 80px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  display: block;
  height: 100%;
}

h2 {
  width: auto;
  position: absolute;
  bottom: 47px;
  z-index: 20;
  background-color: var(--grey);
  padding: 2rem 1rem;
  left: 5%;
  border-radius: 0.5rem;
  border: 1px solid var(--black);
}
/* #endregion */

/* #region -------- Footer*/
footer {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100vw;
}

p {
  padding: 0.5rem;
  font-family: var(--main-font);
  font-size: 0.8rem;
  color: var(--black);
}
/* #endregion */
